@font-face {
  font-family: 'ExpoArabic';
  src: url(../fonts/ExpoArabic-Font/ExpoArabic-Book.ttf);
}
@font-face {
  font-family: 'Montserrat-Arabic';
  src: url(../fonts/Montserrat-Arabic-Regular.ttf);
}
@font-face {
  font-family: 'Inter Bold';
  src: url(../fonts/Inter/Inter-Bold.otf);
}
@font-face {
  font-family: 'Inter Regular';
  src: url(../fonts/Inter/Inter-Regular.otf);
}
@font-face {
  font-family: 'Inter Medium';
  src: url(../fonts/Inter/Inter-Medium.otf);
}
@font-face {
  font-family: 'Inter SemiBold';
  src: url(../fonts/Inter/Inter-SemiBold.otf);
}
@font-face {
  font-family: 'Montserrat Bold';
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: 'Montserrat ExtraBold';
  src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: 'Montserrat Regular';
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: 'Montserrat Medium';
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
  font-family: 'Montserrat SemiBold';
  src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}
:root {
  --font-size-143: 143px;
  --line-height-110: 110px;
  --color-white-solid: #fff;
  --letter-spacing--8: 8px;
}
* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
}
p {margin-bottom: 0px;}
body {
  position: relative;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 1);
  font-size: 1rem;
}
main {position: relative;}
main .circleBlue{
    top:0;
    left: 0;
    position: absolute;
    z-index: -1;
    border-radius: 410px;
    background: rgba(3, 71, 123, 0.55);
    filter: blur(287px);
    border-radius: 0 50px 50px 0;
    width: 387px;
    height: 287px;
}
a, button {cursor: pointer;}
a, .btn-hover {transition: 0.3s;cursor: pointer;}
input:focus-visible {outline: none;}
.btn-hover:hover {transform: scale(0.9);}
/* My Library */
section { position: relative; }
p, button, a { font-size: 1rem; }
.text-center { text-align: center; }
.mb-0 { margin-bottom: 0 !important; }
.mt-0 { margin-top: 0 !important; }
.mt-1 { margin-top: 0.5rem !important; }
.mt-2 { margin-top: 1rem !important; }
.mt-3 { margin-top: 1.5rem !important; }
.mt-4 { margin-top: 2rem !important; }
.mt-5 { margin-top: 2.5rem !important; }
.gap-0 { gap: 0 !important; }
.gap-1 { gap: .25rem !important; }
.gap-2 { gap: .5rem !important; }
.gap-3 { gap: 1rem !important; }
.gap-4 { gap: 1.5rem !important; }
.gap-5 { gap: 3rem !important; }
.bg-0{background: none;}
.mx-auto { margin-left: auto !important; margin-right: auto !important; }
.d-flex { display: flex !important; }
.align-items-center { align-items: center !important; }
.align-items-start { align-items: flex-start !important; }
.align-items-end { align-items: flex-end !important; }
.w-100 { width: 100%; }
.fxWrap{flex-wrap: wrap;}
.text-start { text-align: start !important; }
.justify-content-end { justify-content: end !important; }
.justify-content-center { justify-content: center !important; }
.justify-content-between { justify-content: space-between !important; }
.pe-2 { padding-right: 8px; }
.text-capitalize { text-transform: capitalize !important; }
.text-uppercase { text-transform: uppercase !important; }
.m-auto { margin: auto !important; }
.mx-0 { margin-right: 0 !important; margin-left: 0 !important; }
.flex-column { flex-direction: column !important; }
.relative{position: relative;}
.pe-0 { padding-right: 0 !important; }
.d-block { display: block !important; }
.pb-0 { padding-bottom: 0 !important; }
.pt-1 { padding-top: 0.5rem !important; }
.pt-2 { padding-top: 1rem !important; }
.pt-3 { padding-top: 1.5rem !important; }
.pt-4 { padding-top: 2rem !important; }
.pt-5 { padding-top: 2.5rem !important; }
/* Sections */
.white-space-preLine {
  white-space: pre-line;
}
.style-font {font-family: "ExpoArabic";font-weight: 400;}
.font-bold {font-family: 'ExpoArabic';font-weight: 700;}
.font-semiBold {font-family: "ExpoArabic";font-weight: 600;}
.font-medium {font-family: 'ExpoArabic';font-weight: 500;}
.font-ExtraBold {font-family: 'ExpoArabic';font-weight: 800;}
.interFont{  font-family: 'Inter Regular';font-weight: 400;}
.interFont700{  font-family: 'Inter Bold';font-weight: 700;}
.interFont500{  font-family: 'Inter Medium';font-weight: 500;}
.interFont600{    font-family: 'Inter SemiBold';font-weight: 600;}

.px-90 { padding: 0 90px; }
.px-50 { padding: 0 50px; }
.px-100 { padding: 0 100px; }
.px-80 { padding: 0 80px; }
.px-120 { padding: 0 120px; }
.px-138px { padding: 0 138px; }
.px-23px { padding: 0 23px; }
.opacity5{opacity: 0.5;}
.w190 { width: 190px; }
.h54px { height: 54px; }
.mt60px{margin-top: 60px;}
.mt45px{margin-top: 45px;}
.mt24px{margin-top: 1.5rem;}
.mt1rem{margin-top: 1rem;}
.mt32px{margin-top: 2rem;}
.mb24px{margin-bottom: 1.5rem;}
.gap32px{gap: 2rem;}
.gap24px{gap: 1.5rem;}
@media (min-width:1920px) {
  .px-120 { padding: 0 140px; }
  .px-138px { padding: 0 158px; }
  .px-100 { padding: 0 120px; }
  .px-50 { padding: 0 70px; }
  .w190 { width: 210px; }
  .h54px { height: 64px; }
  .px-23px { padding: 0 28px; }
  .mt60px{margin-top: 80px;}

  .mt45px{margin-top: 60px;}
  .mt24px{margin-top: 2rem;}
  .mt32px{margin-top: 2.5rem;}
  .mb24px{margin-bottom: 2rem;}
  .gap32px{gap: 2.5rem;}
  .gap24px{gap: 2rem;}
  .mt1rem{margin-top: 1.5rem;}
}
@media (max-width:1396.36px) {
  .px-120 { padding: 0 100px; }
  .px-80 { padding: 0 40px; }
  .px-100 { padding: 0 90px; }
  .px-90 { padding: 0 70px; }
  .px-50 { padding: 0 40px; }
  .w190 { width: 170px; }
  .px-23px { padding: 0 20px; }
  .h54px { height: 48px; }
  .px-138px { padding: 0 118px; }
  .mt60px{margin-top: 50px;}

  .mt45px{margin-top: 35px;}
  .mt24px{margin-top: 1.2rem;}
  .mt32px{margin-top: 1.7rem;}
  .mb24px{margin-bottom: 1.2rem;}
  .gap32px{gap: 1.7rem;}
  .gap24px{gap: 1.2rem;}
}
@media (max-width:1228.8px) {
  .px-120 { padding: 0 40px; }
  .px-100 { padding: 0 50px; }
  .px-90 { padding: 0 50px; }
  .px-50 { padding: 0 30px; }
  .w190 { width: 160px; }
  .px-23px { padding: 0 18px; }
  .h54px { height: 44px; }
  .px-138px { padding: 0 60px; }
  .mt60px{margin-top: 40px;}
  
  .mt45px{margin-top: 25px;}
  .mt24px{margin-top: 1rem;}
  .mt32px{margin-top: 1.5rem;}
  .mb24px{margin-bottom: 1rem;}
  .gap32px{gap: 1.5rem;}
  .gap24px{gap: 1rem;}
  .mt1rem{margin-top: 0.8rem;}
}
@media (max-width:1024px) {
  .px-90 { padding: 0 30px; }
  .w190 { width: 150px; }
  .h54px { height: 40px; }
  .px-138px { padding: 0 30px; }
  .px-23px { padding: 0 1rem; }
.mt60px{margin-top: 32px;}

  .mt45px{margin-top: 20px;}
  .mt24px{margin-top: 0.7rem;}
  .mt32px{margin-top: 1rem;}
  .mb24px{margin-bottom: 0.7rem;}
  .gap32px{gap: 1rem;}
  .gap24px{gap: 0.7rem;}
}
@media (max-width:877.71px) {
  .px-80 { padding: 0 30px; }
  .px-120 { padding: 0 30px; }
  .px-100 { padding: 0 40px; }
  .px-50 { padding: 0 25px; }
  .mt60px{margin-top: 24px;}
}

@media (max-width:768px) {
  .px-80 { padding: 0 20px; }
  .px-120 { padding: 0 20px; }
  .px-100 { padding: 0 20px; }
  .px-90 { padding: 0 20px; }
  .px-50 { padding: 0 20px; }
  .px-138px { padding: 0 20px; }
  .px-23px { padding: 0 12px; }
}
.pre-whiteSpace {white-space: pre;}
.fxGeneral {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  gap: 0;
}
.cardFlexStyle {
  box-sizing: border-box;
  width: max-content;
  transition: 0.3s;
}
/* Buttons Style */
.btnOutline{
  transition: all 0.3s ease;
  border-radius: 8px;
  border: 2px solid #00C7B1;
  background: linear-gradient(93deg, rgba(0, 199, 177, 0.20) -4%, rgba(3, 71, 123, 0.20) 70.58%);
}
.btnOutline:hover{
  color: #fff;
  transform: scale(0.97);
  background: linear-gradient(93deg, #00C7B1 -4%, #03477B 70.58%);
}
.btnLinear{
  transition: all 0.3s ease;
  border-radius: 8px;
  color: #fff;
  background: linear-gradient(93deg, #00C7B1 -4%, #03477B 70.58%);
}
.btnLinear:hover{
  border: 2px solid #00C7B1;
  background: linear-gradient(93deg, rgba(0, 199, 177, 0.20) -4%, rgba(3, 71, 123, 0.20) 70.58%);
  color: #00C7B1;
}
.btnBlack{
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.00) 100%);
}
/* End Buttons Style */
.subtitle-one {
  color: #061C3D;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.12px;
}
.subtitle-50px {
  color: #061C3D;
  font-size: 50px;
  line-height: 60px;
}
.subtitle-40px {
  color: #262626;
  font-size: 40px;
  line-height: 50px;
}
.subtitle-30px {
  color: #262626;
  font-size: 30px;
  line-height: 40px;
}
.subtitle-two {
  color: #42526B;
  font-size: 18px;
  line-height: 26px;
  width: 75%;
}
.subtitle21px {
  color: #6E6F71;
  font-size: 21px;
  line-height: 200%;
}
.head-title h1 {
  margin-bottom: 24px;
  width: max-content;
}
.lineHeight100 {line-height: 100%;}
.lineHeight140 {line-height: 140%;}
.lineHeight150 {line-height: 150%;}
.lineHeight120 {line-height: 120%;}
.subtitle67px {font-size: 67px;}
.subtitle64px {font-size: 64px}
.subtitle6subtitle67px4px {font-size: 64px;}
.subtitle56px {font-size: 56px;}
.subtitle48px {font-size: 48px;}
.subtitle38px {font-size: 38px;}
.subtitle25px {font-size: 25px;}
.subtitle28px {font-size: 28px;}
.subtitle24px {font-size: 24px;}
.subtitle20px {font-size: 20px;}
.subtitle22px {font-size: 22px;}
.subtitle18px {font-size: 18px;}
.subtitle16px {font-size: 16px;}
.subtitle14px {font-size: 14px;}
.subtitle12px {font-size: 12px;}
.subtitle44px{font-size: 44px;}
.subtitle32px{font-size: 32px;}
.subtitle60px{font-size: 60px;}
@media (min-width:1706.67px) {
  .subtitle-one { font-size: 62px; margin-bottom: 32px; line-height: 72px; }
  .subtitle-two { font-size: 21px; line-height: 32px; }
  .subtitle-50px { font-size: 55px; line-height: 65px; }
  .subtitle44px { font-size: 48px; }
  .subtitle-40px { font-size: 45px; line-height: 60px; }
  .subtitle-30px { font-size: 35px; line-height: 45px; }
  .subtitle67px { font-size: 72px; }
  .subtitle21px { font-size: 24px; }
  .subtitle20px { font-size: 23px; }
  .subtitle24px { font-size: 26px; }
  .subtitle18px { font-size: 20px; }
  .subtitle38px { font-size: 42px; }
  .subtitle25px { font-size: 27px; }
  .subtitle56px { font-size: 60px; }
  .subtitle28px { font-size: 30px; }
  .subtitle16px { font-size: 18px; }
  .subtitle48px { font-size: 52px; }
  .subtitle22px {font-size: 24px;}
  .subtitle32px{font-size: 34px;}
  .subtitle64px {font-size: 68px;}
  .subtitle60px{font-size: 62px;}
  .subtitle14px {font-size: 16px;}
  .subtitle12px {font-size: 14px;}
}
@media (min-width:1920px) {
  .subtitle-one { font-size: 68px; line-height: 72px; }
  .subtitle44px { font-size: 52px; }
  .subtitle-two { font-size: 24px; line-height: 42px; }
  .subtitle-50px { font-size: 60px; line-height: 70px; }
  .subtitle-40px { font-size: 50px; line-height: 60px; }
  .subtitle21px { font-size: 28px; }
  .subtitle-30px { font-size: 40px; line-height: 50px; }
  .subtitle67px { font-size: 80px; }
  .subtitle20px { font-size: 26px; }
  .subtitle24px { font-size: 29px; }
  .subtitle18px { font-size: 23px; }
  .subtitle38px { font-size: 46px; }
  .subtitle56px { font-size: 64px; }
  .subtitle25px { font-size: 30px; }
  .subtitle28px { font-size: 33px; }
  .subtitle48px { font-size: 56px; }
  .subtitle16px { font-size: 20px; }
  .subtitle22px {font-size: 27px;}
  .subtitle64px {font-size: 74px;}
  .subtitle32px{font-size: 37px;}
  .subtitle60px{font-size: 65px;}
  .subtitle14px {font-size: 19px;}
  .subtitle12px {font-size: 17px;}
}
@media (min-width:2048px) {
  .subtitle25px { font-size: 34px; }
  .subtitle44px { font-size: 56px; }
  .subtitle56px { font-size: 67px; }
  .subtitle28px { font-size: 36px; }
  .subtitle48px { font-size: 60px; }
  .subtitle16px { font-size: 24px; }
  .subtitle22px {font-size: 30px;}
  .subtitle32px{font-size: 39px;}
  .subtitle64px {font-size: 78px;}
  .subtitle60px{font-size: 75px;}
  .subtitle14px {font-size: 20px;}
  .subtitle12px {font-size: 18px;}
}
@media (max-width:1396.36px) {
  .subtitle-one { font-size: 50px; line-height: 60px; }
  .subtitle44px { font-size: 42px; }
  .subtitle-50px { font-size: 45px; line-height: 50px; }
  .subtitle-40px { font-size: 35px; line-height: 45px; }
  .subtitle21px { font-size: 19px; line-height: 170%; }
  .subtitle-30px { font-size: 25px; line-height: 35px; }
  .subtitle67px { font-size: 64px; }
  .subtitle20px { font-size: 18px; }
  .subtitle24px { font-size: 22px; }
  .subtitle18px { font-size: 16px; }
  .subtitle38px { font-size: 34px; }
  .subtitle25px { font-size: 23px; }
  .subtitle56px { font-size: 52px; }
  .subtitle28px { font-size: 26px; }
  .subtitle48px { font-size: 44px; }
  .subtitle22px {font-size: 20px;}
  .subtitle64px {font-size: 62px;}
  .subtitle32px{font-size: 30px;}
  .subtitle60px{font-size: 56px;}
}
@media (max-width:1228.8px) {
  .subtitle-50px { font-size: 40px; line-height: 45px; }
  .subtitle44px { font-size: 38px; }
  .subtitle-40px { font-size: 30px; line-height: 40px; }
  .subtitle21px { font-size: 17px; line-height: 160%; }
  .subtitle-30px { font-size: 20px; line-height: 30px; }
  .subtitle67px { font-size: 56px; }
  .subtitle20px { font-size: 16px; }
  .subtitle24px { font-size: 20px; }
  .subtitle18px { font-size: 14px; }
  .subtitle38px { font-size: 32px; }
  .subtitle25px { font-size: 21px; }
  .subtitle56px { font-size: 48px; }
  .subtitle28px { font-size: 24px; }
  .subtitle48px { font-size: 40px; }
  .subtitle16px { font-size: 14px; }
  .subtitle22px {font-size: 18px;}
  .subtitle32px{font-size: 28px;}
  .subtitle64px {font-size: 56px;}
  .subtitle60px{font-size: 48px;}
  .subtitle14px {font-size: 12px;}
  .subtitle12px {font-size: 11px;}
}
@media (max-width:1024px) {
  .subtitle-one { font-size: 40px; line-height: 44.25px; }
  .subtitle44px { font-size: 32px; }
  .subtitle-50px { font-size: 35px; line-height: 40px; }
  .subtitle-40px { font-size: 25px; line-height: 40px; }
  .subtitle21px { font-size: 15px; }
  .subtitle67px { font-size: 48px; }
  .subtitle20px { font-size: 14px; }
  .subtitle24px { font-size: 16px; }
  .subtitle18px { font-size: 13px; }
  .subtitle38px { font-size: 26px; }
  .subtitle25px { font-size: 18px; }
  .subtitle56px { font-size: 40px; }
  .subtitle28px { font-size: 20px; }
  .subtitle48px { font-size: 38px; }
  .subtitle16px { font-size: 13px; }
  .subtitle22px {font-size: 16px;}
  .subtitle32px{font-size: 24px;}
  .subtitle64px {font-size: 48px;}
  .subtitle60px{font-size: 40px;}
  .subtitle14px {font-size: 11px;}
  .subtitle12px {font-size: 10px;}
}
@media (max-width:877.71px) {
  .subtitle-one { font-size: 35px; }
  .subtitle-30px { font-size: 18px; line-height: 28px; }
  .subtitle67px { font-size: 40px; }
  .subtitle38px { font-size: 24px; }
  .subtitle25px { font-size: 16px; }
  .subtitle28px { font-size: 16px; }
  .subtitle48px { font-size: 32px; }
  .subtitle16px { font-size: 11px; }
  .subtitle22px {font-size: 13px;}
  .subtitle32px{font-size: 20px;}
  .subtitle64px {font-size: 40px;}
  .subtitle24px{font-size: 14px;}
  .subtitle60px{font-size: 32px;}
}
@media (max-width:768px) {
  .subtitle67px { font-size: 38px; }
  .subtitle32px{font-size: 18px;}
  .subtitle64px {font-size: 32px;}

}
@media (max-width:614.4px) {
  .subtitle-one { font-size: 35px; white-space: normal; line-height: 42px; margin-top: 0rem; }
  .subtitle-50px { font-size: 28px; line-height: 31px; }
  .subtitle-40px { font-size: 25px; line-height: 29px; }
  .subtitle-30px { font-size: 20px; line-height: 30px; }
  .subtitle24px { font-size: 18px; }
  .subtitle18px { font-size: 13px; }
  .subtitle56px { font-size: 32px; }
  .subtitle28px { font-size: 18px; }
}

/* Font Sizes Style */
.fontSize24px { font-size: 24px; }
.fontSize48px { font-size: 48px; }
.h57px { height: 57px; }
.h54px { height: 54px; }
.w170px { width: 170px; }
@media (min-width:1706.67px) {
  .fontSize24px { font-size: 26px; }
  .h57px { height: 63px; }
  .h54px { height: 60px; }
  .w170px { width: 190px; }
  .fontSize48px { font-size: 54px; }
}
@media (min-width:1920px) {
  .fontSize24px { font-size: 29px; }
  .h57px { height: 68px; }
  .w170px { width: 210px; }
  .fontSize48px { font-size: 59px; }
  .h54px { height: 66px; }
}
@media (min-width:2048px) {
  .fontSize24px { font-size: 32px; }
  .h57px { height: 73px; }
  .w170px { width: 230px; }
  .fontSize48px { font-size: 62px; }
  .h54px { height: 71px; }
}
@media (max-width:1396.36px) {
  .fontSize24px { font-size: 22px; }
  .fontSize48px { font-size: 42px; }
  .h54px { height: 50px; }
}
@media (max-width:1228.8px) {
  .fontSize24px { font-size: 20px; }
  .h57px { height: 52px; }
  .w170px { width: 160px; }
  .fontSize48px { font-size: 36px; }
  .h54px { height: 48px; }
}
@media (max-width:1024px) {
  .fontSize24px { font-size: 16px; }
  .h57px { height: 48px; }
  .w170px { width: 140px; }
  .fontSize48px { font-size: 32px; }
  .h54px { height: 45px; }
}
@media (max-width:877.71px) {
  .fontSize24px { font-size: 14px; }
  .h57px { height: 45px; }
  .w170px { width: 130px; }
  .h54px { height: 40px; }
}
@media (max-width:614.4px) {
  .fontSize24px { font-size: 16px; }
  .w150px { width: 130px; }
}
.plyr audio, .plyr video {
  height: 100% !important;
  object-fit: cover;
}
.arrow-slider .arrow-sliderImg:hover {
  background: #00CFFF;
  transform: scale(0.9);
}
.arrow-slider .arrow-sliderImg:hover img {
  filter: brightness(0) invert(1);
}
.arrow-slider .arrow-sliderImg {
  border-radius: 150px;
  background: #F0F5FF;
  padding: 16px;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coverBackground {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 99;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.coverBackground.show {
  display: block;
  opacity: 1;
}
.colorGreen{color: #00C7B1;}
.colorRed{color: #FF2B2B;}
.colorYellow{color: #FFC107;}
.colorWhite{color: #fff;}
.colorWhite8{color: rgba(255, 255, 255, 0.8)}
.colorWhite5{color: rgba(255, 255, 255, 0.5);}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.numberLines {
  display: -webkit-box;
  /* -webkit-line-clamp: 4; */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* Pagination */
.pagination {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  direction: ltr;
  margin-top: 40px;
}
.pagination button {
  transition: all 0.3s ease;
  background: none;
}
.pagination button.active{
  border-radius: 8px;
  background: linear-gradient(154deg, #00C7B1 2.78%, #00675C 121.8%);
  width: 40px;
  height: 40px;
}
.pagination button:hover{
  color: #00C7B1;
}
.pagination button:hover img,
.pagination button.active img {
  transform: scale(1.1);
filter: brightness(0) saturate(100%) invert(67%) sepia(92%) saturate(1304%) hue-rotate(120deg) brightness(84%) contrast(101%);}
.h48px{height: 48px;}
.h44px{height: 44px;}
.divTitle{
  width: 75%;
  margin: auto;
}
.divTitle h1{
  background: linear-gradient(180deg, #FFF 30%, #999 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}
.divTitle p{
  line-height:  150%;
  color: rgba(255, 255, 255, 0.88);
  width: 80%;
  margin: auto;
}
.fade-in-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
}
.fade-in-up.visible {
  opacity: 1;
  transform: translateY(0);
}
.inputGeneral{
  border-radius: 8px;
  border: 2px solid #00C7B1;
  background: rgba(0, 199, 177, 0.20);
  padding: 0 1rem;
}

@media (min-width:1706.67px) {
  .pagination button {width: 60px;height: 60px;}
  .h48px{height: 52px;}
  .h44px{height: 50px;}
}
@media (min-width:1920px) {
  .pagination button {width: 70px;height: 70px;}
  .h48px{height: 58px;}
  .h44px{height: 56px;}
  .btnLinear img{width: 35px;}
  .inputGeneral{padding: 0 1.5rem;}
}
@media (min-width:2048px) {
  html {width: 2050px;margin: auto;}
  .h48px{height: 68px;}
  .h44px{height: 66px;}
}
@media (min-width:2304px) {}
@media (max-width:1396.36px) {
  .h48px{height: 45px;}
  .h44px{height: 42px;}
  .divTitle{width: 70%;}
}
@media (max-width:1228.8px) {
  .pagination button {width: 40px;height: 40px;}
  .h48px,
  .h44px{height: 40px;}
  .pagination button img {width: 8px;}
  .divTitle{width: 70%;}
  .inputGeneral{padding: 0 0.7rem;}
}
@media (max-width:1024px) {
  .h48px,
  .h44px{height: 37px;}
}
@media (max-width:877.71px) {
  .h48px,
  .h44px{height: 35px;}
  .inputGeneral{padding: 0 0.5rem;}
}
@media (max-width:768px) {

}
@media (max-width:614.4px) {
  .h48px,
  .h44px{height: 40px;}
  .pagination{gap: 6px;margin-top: 24px;}
  .divTitle{width: 100%;}
}

@media (max-width:512px) {

}





@media (min-width:1706.67px) {}
@media (min-width:1920px) {}
@media (min-width:2048px) {}
@media (min-width:2304px) {}
@media (min-width:3072px) {}
@media (max-width:1396.36px) {}
@media (max-width:1228.8px) {}
@media (max-width:1024px) {}
@media (max-width:877.71px) {}
@media (max-width:768px) {}
@media (max-width:614.4px) {}
@media (max-width:512px) {}