.sectionForm{
    margin: 88px 0 126px 0;
}
.sectionForm .boxForm{
    padding: 70px 60px;
    border-radius: 12px;
    border: 1px solid #00C7B1;
    background: linear-gradient(180deg, rgba(0, 199, 177, 0.10) 0%, rgba(0, 199, 177, 0.00) 100%);
}
.sectionForm .boxForm .divTitle{
    width: 45%;
    position: relative;
    z-index: 1; 
    padding-bottom: 1.3rem;
    margin-bottom: 2.2rem;
}
.sectionForm .boxForm .divTitle p{
    color: rgba(255, 255, 255, 0.88);
    width: 100%;
}
.sectionForm .boxForm .divTitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.0),
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.0)
  );
  z-index: -1;
}
.sectionForm .boxForm .fxStepsLine{gap: 1.5rem;}
.sectionForm .boxForm .dash-lines{
    display: flex;
    align-items: center;
    gap: 6px;
}
.sectionForm .boxForm .dash-lines .line{
    border-radius: 40px;
    background: #FFF;
    width:28px;
    height: 5px;
}
.sectionForm .boxForm .fxLastDiv{
    gap: 1rem;
} 
.sectionForm .boxForm .fxLastDiv .btnBlack{
    border-radius: 12px;
    padding: 0px 16px;
    gap: 8px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.00) 100%);
}
.sectionForm .boxForm .fxLastDiv .divLang .publicStyleList{
    border-radius: 12px;
    width: 100%;
    position: absolute;
    top: 100%;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: linear-gradient(245deg, #1F1F1F -0.21%, #323232 59.47%, #1F1F1F 93.38%);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}
.sectionForm .boxForm .fxLastDiv .divLang .publicStyleList.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.sectionForm .boxForm .fxLastDiv .divLang .publicStyleList button {
    padding: 12px 1rem;
    border-radius: 12px;
    gap: 8px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.00) 100%);
}
.sectionForm .boxForm .fxLastDiv .divLang .publicStyleList button svg {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg) brightness(102%) contrast(102%);
}
.sectionForm .boxForm .fxButtonsSteps {gap: 1.5rem;}
.sectionForm .boxForm .fxButtonsSteps .btnLinear{width: 328px;}
.sectionForm .boxForm .content {
  display: none;
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.4s ease;
}
.sectionForm .boxForm .content.active {
  display: block;
  opacity: 1;
  transform: translateX(0);
}
.sectionForm .boxForm .dash-lines .line {
  transition: background-color 0.3s ease, width 0.3s ease;
}
.sectionForm .boxForm .dash-lines .line.active{
    background: #00C7B1;
    width: 50px;
}
#nextBtn:hover {
  animation: bounce 0.3s;
}
.sectionForm .boxForm .basic-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.sectionForm .boxForm .basic-container input[type="radio"] {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid rgba(0, 199, 177, 1);
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.sectionForm .boxForm .basic-container input[type="radio"]:checked {
    border-color: rgba(0, 199, 177, 1);
    background-color: #000;
}
.sectionForm .boxForm .basic-container input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color:rgba(0, 199, 177, 1);
}
.sectionForm .boxForm .basic-container label {
    font-weight: 500;
    cursor: pointer;
    padding-left: 5px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.sectionForm .boxForm .basic-container input[type="radio"]:checked + label {
    color: rgba(0, 199, 177, 1);
}
.sectionForm .boxForm .titleForm{
    margin-bottom: 24px;
    display: block;
}
.sectionForm .boxForm .boxInputStyle{
    border-radius: 12px;
    padding: 24px;
    border: 1px solid #00C7B1;
    background: linear-gradient(180deg, rgba(0, 199, 177, 0.10) 0%, rgba(0, 199, 177, 0.00) 100%);
}
.sectionForm .boxForm .boxInputStyle label{width: 95%;}
.sectionForm .boxForm form .inputGreen{
    border-radius: 8px;
    border: 2px solid #00C7B1;
    background: rgba(0, 199, 177, 0.20);
    padding: 0 1rem;
}
.sectionForm .boxForm .btnAddNew{
    border-radius: 10px;
    border: 1px solid #E7E9EB;
    background: transparent;
}
.sectionForm .boxForm .btnAddNew:hover{
      animation: bounce 0.3s;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-4px); }
  100% { transform: translateY(0); }
}
.sectionForm .boxForm .fxSelectBtn{
    gap: 1rem;
    margin-top: 1.5rem;
}
.sectionForm .boxForm .fxSelectBtn button{
    width: 28%;
    transition: all 0.3s ease;
}
.sectionForm .boxForm .fxSelectBtn button:hover{
    border: 1px solid #fff;
}