/* Home Section 3 Style */
.section-price{
    margin: 100px 0;
}
.homeS3 .divTabs{
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(6.000000476837158px);
    padding: 4px;
    width: max-content;
    gap: 4px;
    margin-top: 40px;
}
.homeS3 .fxCenter{
    padding-left: 7rem;
}
.homeS3 .fxCenter img{
    position: relative;
    top: 1rem;
}
.homeS3 .divTabs button{
    height: 36px;
    padding: 0 25px;
    background: none;
    color: rgba(255, 255, 255, 0.80);
    font-size: 14px;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.homeS3 .divTabs button.active,
.homeS3 .divTabs button:hover{
    color: #FFF;
    background: linear-gradient(93deg, #00C7B1 -4%, #03477B 70.58%);
}
.fxCardsPrice{
    gap: 40px;
    width: 75%;
    margin: auto;
    align-items: normal;
    margin-top: 80px;
    margin-bottom: 150px;
}
.fxCardsPrice .cardFlexStyle{
    flex: 1 1 calc(33.3% - 40px);
    max-width: calc(33.3% - 0px);
}
.cardPrice{
    padding: 40px;
    border-radius: 32px;
    background: linear-gradient(165deg, rgba(43, 255, 255, 0.10) 0%, rgba(43, 255, 255, 0.02) 50%, rgba(43, 255, 255, 0.06) 100%);
    backdrop-filter: blur(20px);
}
.cardPrice.active,
.cardPrice:hover{
    border-radius: 32px;
    border: 3px solid #2BFFFF;
    background: linear-gradient(180deg, rgba(43, 255, 255, 0.12) 0%, rgba(43, 255, 255, 0.04) 50%, rgba(43, 255, 255, 0.07) 100%);
    backdrop-filter: blur(42px);
    transform: scale(1.1);
}
.cardPrice:hover{
    transform: scale(1);
    padding: 32px;
}
.cardPrice.active:hover{
    transform: scale(1.1);
}
.cardPrice.active .divBtn button{
    border-radius: 8px;
    background: linear-gradient(93deg, #00C7B1 -4%, #03477B 70.58%);
    font-weight: 700;
}
.cardPrice .boxCircle{margin-bottom: 1.5rem;}
.cardPrice .boxCircle img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.cardPrice h2{margin-bottom: 4px;}
.cardPrice .fxPrice{gap: 9px;margin-top: 32px;}
.cardPrice .fxPrice h1{
    font-family: 'Montserrat-Arabic';
    font-weight: 500;
}
.cardPrice .fxPrice span{
    font-family: 'Montserrat-Arabic';
    font-weight: 400;
    color: rgba(255, 255, 255, 0.80);
}
.cardPrice .pHead,
.cardPrice .fxPrice span,
.cardPrice .fxListPrice .itemListPrice p{
    font-size: 14px;
}
.cardPrice .divBtn {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    width: 100%;
    position: relative;
    z-index: 1; 
}
.cardPrice .divBtn button{
    border-radius: 12px;
    width: 100%;
    font-size: 14px;
    transition: all 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.00) 100%);
}
.cardPrice .divBtn button:hover{
    transform: scale(0.98);
    background: linear-gradient(93deg, #00C7B1 -4%, #03477B 70.58%);
    font-weight: 700; 
}
.cardPrice .divBtn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.0),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.0)
    );
    z-index: -1; 
  }
  .cardPrice .fxListPrice{
    gap: 1rem;
  }
  .cardPrice .fxListPrice .itemListPrice{gap: 8px;}
  .cardPrice .fxListPrice .itemListPrice p{
    color: rgba(255, 255, 255, 0.80);
  }
  @media (min-width:1706.67px) {
    .cardPrice .pHead,
    .cardPrice .fxPrice span,
    .cardPrice .fxListPrice .itemListPrice p{
        font-size: 16px;
    }
    .cardPrice{padding: 50px;}
    .cardPrice .boxCircle svg{width: 45px;height: 45px;}
  }
@media (min-width:1920px) {
    .cardPrice .pHead,
    .cardPrice .fxPrice span,
    .cardPrice .fxListPrice .itemListPrice p{
        font-size: 18px;
    }
    .cardPrice{padding: 55px;}
    .cardPrice .boxCircle svg{width: 50px;height: 50px;}
    .cardPrice .boxCircle{margin-bottom: 2rem;}
}
@media (min-width:2048px) {
    .cardPrice .pHead,
    .cardPrice .fxPrice span,
    .cardPrice .fxListPrice .itemListPrice p{
        font-size: 20px;
    }
    .cardPrice .boxCircle svg{width: 55px;height: 55px;}
}
@media (min-width:2304px) {}
@media (min-width:3072px) {}
@media (max-width:1396.36px) {
    .cardPrice{padding: 32px;}
    .fxCardsPrice{width: 75%;}
}
@media (max-width:1228.8px) {
    .cardPrice{padding: 24px;}
    .fxCardsPrice{width: 80%;}
    .cardPrice .fxPrice{margin-top: 24px;}
    .cardPrice .divBtn{    margin-top: 32px;margin-bottom: 32px;padding-bottom: 32px;}
    .cardPrice .fxListPrice{gap: 12px;}
    .cardPrice .boxCircle{margin-bottom: 1rem;}
    .cardPrice .pHead,
    .cardPrice .fxPrice span,
    .cardPrice .fxListPrice .itemListPrice p{font-size: 12px;}
}
@media (max-width:1024px) {
    .fxCardsPrice{width: 90%;gap: 32px;}
    .fxCardsPrice .cardFlexStyle{
        flex: 1 1 calc(33.3% - 32px);
        max-width: calc(33.3% - 0px);
    }
    .cardPrice .fxPrice{margin-top: 1rem;}
    .cardPrice .divBtn{    margin-top: 24px;margin-bottom: 24px;padding-bottom: 24px;}
    .cardPrice .pHead,
    .cardPrice .fxPrice span,
    .cardPrice .fxListPrice .itemListPrice p{font-size: 11px;}
}
@media (max-width:877.71px) {
    .cardPrice .divBtn{    margin-top: 1rem;margin-bottom: 1rem;padding-bottom: 1rem;}
    .cardPrice .boxCircle{margin-bottom: 12px;}
    .cardPrice .fxListPrice{gap: 8px;}
    .fxCardsPrice{width: 95%;gap: 24px;}
    .fxCardsPrice .cardFlexStyle{
        flex: 1 1 calc(33.3% - 24px);
        max-width: calc(33.3% - 0px);
    }
}
@media (max-width:768px) {
    .fxCardsPrice .cardFlexStyle{
        flex: 1 1 calc(50% - 24px);
        max-width: calc(50% - 0px);
    }
}
@media (max-width:614.4px) {
    .fxCardsPrice .cardFlexStyle{
        flex: 1 1 calc(100% - 24px);
        max-width: calc(100% - 0px);
    }
    .homeS2-container{padding: 0 20px;}
    .fxCardsPrice{width:90%;gap: 24px;margin: auto;margin-top: 32px;margin-bottom: 100px;}
    .cardPrice.active{transform: scale(1);}
    .cardPrice{border-radius: 15px;}
    .cardPrice.active:hover{transform: scale(1);}
    .cardPrice .divBtn{    margin-top: 24px;margin-bottom: 24px;padding-bottom: 24px;}
    .cardPrice .fxListPrice{gap: 12px;}
    .cardPrice .boxCircle{margin-bottom: 20px;}
    .homeS3 .fxCenter img{width: 80px;}
    .homeS3 .fxCenter{padding-left: 4rem;}
    .homeS3 .divTabs{margin-top: 24px;}
}
@media (max-width:512px) {}
